---
import Chat from "../components/Chat";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <main class="overflow-hidden w-full h-screen relative flex">
      <h1>Astro</h1>
      <Chat client:load />
    </main>
  </body>
</html>
../components/Chat
